playwright==1.42.0 #biblioteca para automação de navegador  
pandas==2.2.1   #biblioteca para manipulação de dados  
openpyxl==3.1.2 #biblioteca para manipulação de arquivos excel
beautifulsoup4==4.12.3
requests==2.32.3

